<!-- login.html -->

{% extends 'auth_base.html' %}

{% block content %}

<h2 class="auth-title">Login</h2>

{% if error %}
    <div class="alert alert-danger text-center">
        {{ error }}
    </div>
{% endif %}

<form method="POST">

    {% csrf_token %}

    <input 
        type="text" 
        name="username" 
        placeholder="Enter Username"
        class="form-control mb-3"
        required
    >

    <input 
        type="password" 
        name="password" 
        placeholder="Enter Password"
        class="form-control mb-4"
        required
    >

    <button type="submit" class="btn-auth">
        Login
    </button>

</form>

<div class="register-links">

    <a href="{% url 'doctor_register' %}">
        Register as Doctor
    </a>

    <div class="divider">OR</div>

    <a href="{% url 'patient_register' %}">
        Register as Patient
    </a>

</div>

{% endblock %}