{% extends 'auth_base.html' %}

{% block content %}

<h2 class="auth-title">Patient Registration</h2>

{% if form.errors %}

<div class="alert alert-danger">

    {% for field in form %}
        {% for error in field.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endfor %}

</div>

{% endif %}

<form method="POST">

    {% csrf_token %}

    <input 
        type="text"
        name="username"
        placeholder="Enter Username"
        class="form-control mb-3"
        required
    >

    <input 
        type="email"
        name="email"
        placeholder="Enter Email"
        class="form-control mb-3"
        required
    >

    <input 
        type="password"
        name="password1"
        placeholder="Enter Password"
        class="form-control mb-3"
        required
    >

    <input 
        type="password"
        name="password2"
        placeholder="Confirm Password"
        class="form-control mb-4"
        required
    >

    <button type="submit" class="btn-auth">
        Register
    </button>

</form>

<div class="register-links mt-4">

    <a href="{% url 'login' %}">
        Already have an account? Login
    </a>

</div>

{% endblock %}