{% extends 'auth_base.html' %}

{% block content %}

<h2 class="auth-title">Patient Registration</h2>

<form method="POST">

    {% csrf_token %}

    <!-- Username -->
    <input 
        type="text"
        name="username"
        placeholder="Enter Username"
        class="form-control mb-3"
        required
    >

    <!-- Email -->
    <input 
        type="email"
        name="email"
        placeholder="Enter Email"
        class="form-control mb-3"
        required
    >

    <!-- Password -->
    <input 
        type="password"
        name="password1"
        placeholder="Enter Password"
        class="form-control mb-3"
        required
    >

    <!-- Confirm Password -->
    <input 
        type="password"
        name="password2"
        placeholder="Confirm Password"
        class="form-control mb-4"
        required
    >

    <button type="submit" class="btn-auth">
        Register
    </button>

</form>

<div class="register-links mt-4">

    <a href="{% url 'login' %}">
        Already have an account? Login
    </a>

</div>

{% endblock %}